AWS_ACCESS_KEY_ID=your_key
AWS_SECRET_ACCESS_KEY=your_secret
AWS_DEFAULT_REGION=ap-south-1
KINESIS_STREAM_NAME=finflow-transactions
S3_BUCKET_NAME=finflow-data-lake
SNS_ALERT_TOPIC_ARN=arn:aws:sns:...
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=finflow
POSTGRES_USER=finflow_user
POSTGRES_PASSWORD=changeme
REDIS_HOST=localhost
REDIS_PORT=6379
FRAUD_RATE=0.02
