# Python
venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Environment
.env

# Terraform
infrastructure/terraform/.terraform/
infrastructure/terraform/*.tfstate
infrastructure/terraform/*.tfstate.backup
infrastructure/terraform/.terraform.lock.hcl

# Docker
*.log

# IDE
.vscode/
.idea/infrastructure/terraform/terraform.tfvars
infrastructure/terraform/lambda_src.zip
